@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(48px) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) both;
  will-change: transform, opacity;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: -200% center;
  }
}

.animated-gradient-text {
  background-image: linear-gradient(
    to right,
    var(--mat-sys-primary),
    var(--mat-sys-secondary),
    var(--mat-sys-primary)
  );
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: gradient-shift 3s linear infinite;
}

// @keyframes gradient-shift {
//   from {
//     background-position: 0% center;
//   }

//   to {
//     background-position: 100% center;
//   }
// }

// .animated-gradient-text {
//   background-image: linear-gradient(
//     to right,
//     var(--mat-sys-primary),
//     var(--mat-sys-tertiary),
//     var(--mat-sys-primary)
//   );
//   background-size: 200% auto;
//   background-clip: text;
//   color: transparent;
//   animation: gradient-shift 2.5s ease-in-out infinite;
// }

.text-primary-underline {
  background-image: linear-gradient(
    to right,
    var(--mat-sys-primary),
    oklch(from var(--mat-sys-primary) l c calc(h + 50))
  );
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 100%;
  padding-bottom: 2px;
}

// styles
//   theme
//     _animations.scss
//     _index.scss
//     _palettes.scss
//     _theme.scss
//     overrides
//       _cards.scss
//       _index.scss
//       _navbar.scss
//       _buttons.scss
