@use '@angular/material' as mat;

:root {
  @include mat.sidenav-overrides(
    (
      container-shape: var(--mat-sys-corner-none),
      content-background-color: var(--mat-sys-surface-container-lowest),
      container-background-color: var(--mat-sys-surface),
    )
  );
}

@media (width <= 600px) {
  :root {
    @include mat.sidenav-overrides(
      (
        container-shape: var(--mat-sys-corner-large),
      )
    );
  }
}
