@use '@angular/material' as mat;
@use './palettes' as palettes;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: palettes.$primary-palette,
    tertiary: palettes.$tertiary-palette,
  ),
));
