<mat-sidenav-container class="flex-1">
  <mat-sidenav
    #sidenav
    opened
    [mode]="isMobile() ? 'over' : 'side'"
    [class.collapsed]="!isMobile() && isCollapsed()"
    [fixedInViewport]="isMobile()"
  >
    <mat-nav-list class="flex flex-col gap-2" (click)="isMobile() && sidenav.close()">
      <button
        class="mt-1.25 ml-2"
        matIconButton
        (click)="updateSidenavState()"
        aria-label="Toggle sidebar"
      >
        <mat-icon appIcon [icon]="icons.menu" />
      </button>

      @for (link of navLinks; track link.href) {
        <a
          mat-list-item
          [routerLink]="link.href"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon appIcon matListItemIcon [icon]="link.icon" />
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    class="flex! flex-col!"
    [class.collapsed]="!isMobile() && isCollapsed()"
    [class.expanded]="!isMobile() && !isCollapsed()"
  >
    <main class="relative mx-auto flex w-full max-w-400 flex-1 flex-col p-4 lg:p-12">
      <mat-toolbar class="w-auto! px-2!">
        @if (isMobile()) {
          <button matIconButton (click)="updateSidenavState()" aria-label="Toggle sidebar">
            <mat-icon appIcon [icon]="icons.menu" />
          </button>
        }

        <h1>AnOS</h1>

        <div class="flex-1"></div>

        <button matIconButton aria-label="Toggle theme" (click)="themeService.toggle()">
          <mat-icon appIcon [icon]="themeService.isDark() ? icons.sun : icons.moon" />
        </button>
      </mat-toolbar>
      <router-outlet />
    </main>

    <app-footer />
  </mat-sidenav-content>
</mat-sidenav-container>
