@use '@angular/material' as mat;
@use './palettes' as palettes;

// Import only the necessary Tailwind layers for theming and utilities
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: palettes.$primary-palette,
      tertiary: palettes.$tertiary-palette,
    ),
  )
);

@theme {
  /* Map Material theme colors to CSS variables for Tailwind */

  // Default colors
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-error: var(--mat-sys-error);
  --color-on-error: var(--mat-sys-on-error);

  // Surface colors
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-surface-variant: var(--mat-sys-surface-variant);
}
