@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities) important;
@source '../../../node_modules/devlab-ng-kit/**/*.mjs';

@theme {
  /* Map Material theme colors to CSS variables for Tailwind */

  /* Default colors */
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-secondary: var(--mat-sys-secondary);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-error: var(--mat-sys-error);

  /* nuances mapping */
  --color-primary-container: var(--mat-sys-primary-container);
  --color-on-primary-container: var(--mat-sys-on-primary-container);

  /* Surface colors */
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-surface-variant: var(--mat-sys-surface-variant);
  --color-surface-variant-hover: color-mix(
    in oklch,
    var(--mat-sys-primary, #6750a4) 10%,
    var(--mat-sys-surface-variant, #f5f5f5)
  );
}
