mat-toolbar {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
}

a.mat-mdc-list-item.active {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

:host(.is-mobile) {
  mat-toolbar {
    position: fixed;
    z-index: 2;
  }

  mat-sidenav-container {
    flex: 1 0 auto;
    margin-top: 56px;
  }
}
