mat-toolbar {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

a.mat-mdc-list-item.active {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}
