mat-toolbar {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
}

a.mat-mdc-list-item.active {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

:host(.is-mobile) {
  mat-toolbar {
    position: fixed;
    z-index: 2;
  }

  mat-sidenav-container {
    flex: 1 0 auto;
    margin-top: 56px;
  }
}

$collapsed-width: 58px;
$uncollapsed-width: 250px;

mat-sidenav {
  width: $uncollapsed-width;
  will-change: width;
  transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;

  &.collapsed {
    width: $collapsed-width;
  }
}

mat-sidenav-content {
  &.desktop-version-collapsed {
    margin-left: $collapsed-width !important;
  }

  &.desktop-version-uncollapsed {
    margin-left: $uncollapsed-width !important;
  }
}
